/* Reset de márgenes y rellenos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos globales */
body {
    background-color: black;/* Fondo negro para contrastar */
    color: aliceblue;
}

/* Encabezado */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2); /* Fondo semitransparente */
    z-index: 2;
}

header .menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 100px;
}

header .menu li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    transition: color 0.3s;
}

header .menu li a:hover {
    color: #ddd; /* Efecto hover */
}

header .logo h1 {
    font-size: 2rem;
    font-weight: bold;
    color: aliceblue;
}

/* Video de presentación */
.Video_muestra {
    overflow: hidden;
    z-index: 1;
}

.presentacion_video {
    position: absolute;
    width: 100%;
    height: auto;
}

/* Sección de venta de productos */
.titulo_venta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
    padding: 50px 20px;
    position: relative;
    z-index: 2;
    margin-top: 170px;
    margin-bottom: 170px;
    
}

.titulo_venta h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.titulo_venta h3 {
    font-size: 1rem;
    margin-bottom: 20px;
}

.tienda_btn {
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    background-color: #333;
    color: aliceblue;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tienda_btn:hover {
    background-color: #555;
}

/* Imagen de portada */
.presentacion_portada {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 50px 50px;
    margin-top: 100px;
    margin-bottom: 10px;
    padding-left: 50px;
}

.presentacion_portada img {
    max-width: 100%;
    height: auto;
}

.noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.titulo_noticias {
    text-align: center;
    margin-bottom: 20px; /* Separación entre el título y las tarjetas */
}

.titulo_noticias h1 {
    font-size: 24px;
    color: #6a6565;
    margin: 0;
}

.tarjeta-contenedor {
    display: flex;
    gap: 20px; /* Espacio entre las tarjetas */
    flex-wrap: wrap; /* Para que se acomoden en varias filas si el espacio es limitado */
    justify-content: center;
}

.tarjeta {
    width: 300px;
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imagen-container {
    position: relative;
}

.imagen-container img {
    width: 100%;
    height: auto;
}

.label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #d93939;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.contenido {
    padding: 15px;
}

.titulo {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.descripcion {
    font-size: 14px;
    color: #b0b0b0;
    margin: 10px 0;
}

.leermas {
    color: #726e6e;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.leermas:hover {
    text-decoration: underline;
}

.fecha {
    font-size: 12px;
    color: #b0b0b0;
    margin-top: 10px;
    text-align: right;
}

@media (max-width: 768px) {
    header .menu {
        gap: 20px;
    }

    .titulo_venta h1 {
        font-size: 1.5rem;
    }

    .titulo_venta h3 {
        font-size: 1rem;
    }

    .tienda_btn {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}
